{% load static %}

<meta charset="utf-8">
<title>Резюме Python-разработчик. Максим Вербицкий</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{% static 'cv/maxxtor/favicon.ico' %}" sizes="any">
<link rel="icon" href="{% static 'cv/maxxtor/icon.svg' %}" type="image/svg+xml">
<link rel="apple-touch-icon" href="{% static 'cv/maxxtor/icon.png' %}">
<link rel="stylesheet" href="{% static 'cv/maxxtor/normalize.css' %}">
<link rel="stylesheet" href="{% static 'cv/maxxtor/cv.css' %}">
<script type="application/javascript" src="{% static 'cv/maxxtor/github-calendar.min.js' %}"></script>
<meta name="theme-color" content="var(--background)">
<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://sadrobot.app/cv/maxxtor" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Python-Разработчик. Резюме" />
<meta property="og:description" content="Привет! Я начинающий Python-разработчик, который увлечен созданием приложений и автоматизацией рутинных задач. Я изучаю новые возможности языка и стремлюсь к тому, чтобы мои проекты были максимально эффективными и удобными для пользователей." />
<meta property="og:image" content="{% static 'cv/maxxtor/cv_og_image.jpg' %}" />
<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="sadrobot.app" />
<meta property="twitter:url" content="https://sadrobot.app/cv/maxxtor" />
<meta name="twitter:title" content="Python-Разработчик. Резюме" />
<meta name="twitter:description" content="Привет! Я начинающий Python-разработчик, который увлечен созданием приложений и автоматизацией рутинных задач. Я изучаю новые возможности языка и стремлюсь к тому, чтобы мои проекты были максимально эффективными и удобными для пользователей." />
<meta name="twitter:image" content="{% static 'cv/maxxtor/cv_og_image.jpg' %}" />
