<nav class="nav-area">
  <ul class="nav-list">
    <li><a class="nav-link" href="#top">Обо мне</a></li>
    <li>
      <a class="nav-link" href="#carier">Опыт работы</a>
      <ul class="subnav-list">
        <li><a class="nav-link" href="#sadrobot">Sad Robot</a></li>
        <li><a class="nav-link" href="#yapracticum">Яндекс Практикум</a></li>
        <li><a class="nav-link" href="#autoport">Автопорт</a></li>
        <li><a class="nav-link" href="#spgs">СПГЭС</a></li>
      </ul>
    </li>
    <li><a class="nav-link" href="#education">Образование</a></li>
    <li><a class="nav-link" href="#additional">Дополнительно</a></li>
  </ul>
</nav>