{% load static %}

<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Sad Robot Team</title>
  <meta name="description" content="Sad Python development">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static 'sadrobot/favicon.ico' %}" sizes="any">
  <link rel="apple-touch-icon" href="{% static 'sadrobot/icon.png' %}">
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(93404237, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
    });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/93404237" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
  <style>
    body {
      display: grid;
      align-content: center;
      min-height: 100vh;
      justify-content: center;
      padding: 0;
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', 'Helvetica Neue', sans-serif;
      background: #222026;
      color: #d2dae4;
    }
    .sadlogo {
        max-width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
    }
  </style>
</head>
<body>
    <img class="sadlogo" width="576" src="{% static 'sadrobot/logo.webp' %}" alt="Sad Robot Team logo">
</body>
</html>