{% load static %}

<!doctype html>
<html lang="ru" prefix="og: https://ogp.me/ns#">
<head>
  {% block html-head %}{% endblock %}
</head>
<body>
  <div id="top" class="grid-container">
    <main class="main-area">
      {% block main_content %}{% endblock %}
    </main>
    <nav class="nav-area">
      {% block nav %}{% endblock %}
    </nav>
    <aside class="aside-area">
      {% block aside_content %}{% endblock %}
    </aside>
  </div>
  <script src="{% static 'cv/maxxtor/github-calendar.min.js' %}"></script>
  <script>
    GitHubCalendar(".github-calendar", "mAXxtor", { responsive: true });
  </script>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(93404237, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
    });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/93404237" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
