{% load static %}

<!doctype html>
<html lang="ru" prefix="og: https://ogp.me/ns#">
<head> {% include "includes/header.html" %} </head>
<body>
  <div id="top" class="grid-container">
    <main class="main-area"> {% block content %}{% endblock %} </main>
    <aside class="aside-area"> {% block left_side %}{% endblock %} </aside>
    <nav class="nav-area"> {% include "includes/nav.html" %} </nav>
  </div>
  <script>
    GitHubCalendar(".github-calendar", "mAXxtor");
    // or enable responsive functionality
    GitHubCalendar(".github-calendar", "mAXxtor", { responsive: true });
  </script>
</body>
</html>
