{% load static %}

<!doctype html>
<html lang="ru" prefix="og: https://ogp.me/ns#">
<head> {% include "includes/html-head.html" %} </head>
<body>
  <div id="top" class="grid-container">
    <main class="main-area">
      {% block main_content %}{% endblock %}
    </main>
    <aside class="aside-area">
      {% block aside_content %}{% endblock %}
    </aside>
    <nav class="nav-area">
      {% include "includes/nav.html" %}
    </nav>
  </div>
  <script src="{% static 'cv/maxxtor/github-calendar.min.js' %}"></script>
  <script>
    GitHubCalendar(".github-calendar", "mAXxtor", { responsive: true });
  </script>
</body>
</html>
